.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}

.spinnerInner {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
  border-color: currentColor transparent transparent transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
