@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-fira-code);
  --font-code: var(--font-fira-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code);
}

@layer utilities {
  .text-flicker:hover {
    animation: flicker 0.15s infinite;
  }

  /* Letter Flicker for Cards */
  @keyframes letter-flicker {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }
    40% {
      opacity: 1;
      transform: translate(0, 0);
    }
    42% {
      opacity: 0.6;
      transform: skewX(20deg);
    }
    44% {
      opacity: 1;
      transform: translate(0, 0);
    }
    60% {
      opacity: 1;
      transform: translate(0, 0);
    }
    62% {
      opacity: 0.3;
      transform: translate(-2px, 0);
    }
    64% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .group:hover .hover-flicker {
    animation-name: letter-flicker;
    animation-timing-function: steps(4, end);
  }
}
